/* 声明字体图标，注意路径 */

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?nudcpy');
    src: url('../fonts/icomoon.eot?nudcpy#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?nudcpy') format('truetype'), url('../fonts/icomoon.woff?nudcpy') format('woff'), url('../fonts/icomoon.svg?nudcpy#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

/* 版心 */

.w {
    width: 1200px;
    margin: 0 auto;
}

/* 左浮动 */

.fl {
    float: left;
}

/* 右浮动 */

.fr {
    float: right;
}

.style_red {
    color: #c81623;
}

/* 页面最顶部快捷导航模块 */

.shortcut {
    width: 100%;
    height: 31px;
    line-height: 31px;
    background-color: #f1f1f1;
}

.shortcut .fl ul li {
    float: left;
}

.shortcut .fr ul li {
    float: left;
    font-size: 12px;
    color: #666;
}

.shortcut .fr ul li:nth-child(even) {
    width: 1px;
    height: 14px;
    margin: 9px 15px 0;
    background-color: #666;
}

.arrow_icon::after {
    margin-left: 9px;
    font-family: 'icomoon';
    content: '\e900';
}

/* Header 模块 */

.header {
    position: relative;
    height: 105px;
    /* background-color: skyblue; */
}

.logo {
    position: absolute;
    top: 27px;
    width: 171px;
    height: 61px;
    /* background-color: pink; */
}

.logo a {
    display: block;
    width: 171px;
    height: 61px;
    font-size: 0;
    background: url("../images/logo.png") no-repeat;
}

.search {
    position: absolute;
    top: 25px;
    left: 348px;
    width: 538px;
    height: 36px;
    border: 2px solid #b1191a;
}

.search input {
    float: left;
    width: 454px;
    height: 32px;
    padding-left: 10px;
}

.search button {
    width: 80px;
    height: 32px;
    background-color: #b1191a;
    color: white;
    font-size: 16px;
}

.hotwords {
    position: absolute;
    top: 70px;
    left: 348px;
}

.hotwords ul li {
    float: left;
    margin: 0 12px;
}

.shopcar {
    position: absolute;
    padding-left: 19px;
    margin: 0 7px;
    top: 26px;
    right: 63px;
    width: 140px;
    height: 36px;
    line-height: 36px;
    border: 1px solid #dfdfdf;
    background-color: #f7f7f7;
}
.shopcar::before {
    content: '\e93a';
    font-family: 'icomoon';
    color: #d95252;
}
.shopcar::after {
    content: '\e901';
    font-family: 'icomoon';
    color: #a4a4a4;
}
.shopcar .count {
    position: absolute;
    /* 此处使用 left 定位，而没有使用 right，是因为如果使用 right，则当数字很长时，该计数框将向左移动，不符合常规审美 */
    left: 105px;
    top: -5px;
    padding: 0 5px;
    height: 14px;
    line-height: 14px;
    color: white;
    background-color: #e60012;
    border-radius: 7px 7px 7px 0;
}
.nav {
    height: 47px;
    border-bottom: 2px solid #b1191a;
}
.nav .dropdown {
    float: left;
    width: 209px;
    height: 45px;
    background-color: #b1191a;
}
.dropdown .dt {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 45px;
    font-size: 16px;
    color: white;
}
.dropdown .dd {
    /* display: none; */
    width: 100%;
    height: 466px;
    background-color: #c81623;
}
.dropdown .dd ul li {
    height: 31px;
    margin-left: 1px;
    line-height: 31px;
    padding-left: 12px;
}
.dropdown .dd ul li a {
    font-size: 14px;
    color: white;
}
.dropdown .dd ul li::after {
    float: right;
    margin-right: 5px;
    content: '\e901';
    font-family: 'icomoon';
    color: white;
}
.dropdown .dd ul li:hover {
    background-color: white;
}
.dropdown .dd ul li:hover a {
    color: #c81623;
}
.nav .navitems {
    float: left;
}
.navitems ul li {
    float: left;
    height: 45px;
    line-height: 45px;
}
.navitems ul li a {
    padding: 0 25px;
    font-size: 16px;
}
/* footer 模块 */
.footer {
    height: 417px;
    background-color: #f5f5f5;
}
.footer .mod_service {
    padding-top: 30px;
    height: 109px;
    border-bottom: 1px solid #ededed;
}
.mod_service ul li {
    float: left;
    padding-left: 37px;
    width: 240px;
    /* background-color: pink; */
}
.mod_service ul li h5 {
    float: left;
    margin-right: 7px;
    width: 50px;
    height: 50px;
    /* background-color: skyblue; */
}
.mod_service ul li:nth-child(1) h5 {
    background: url('../images/icons.png') no-repeat -252px -2px;
}
.mod_service ul li:nth-child(2) h5 {
    background: url('../images/icons.png') no-repeat -254px -53px;
}
.mod_service ul li:nth-child(3) h5 {
    background: url('../images/icons.png') no-repeat -256px -105px;
}
.mod_service ul li:nth-child(4) h5 {
    background: url('../images/icons.png') no-repeat -257px -156px;
}
.mod_service ul li:nth-child(5) h5 {
    background: url('../images/icons.png') no-repeat -257px -208px;
}
.mod_service ul li h4 {
    padding-top: 5px;
    font-size: 14px;
}
.mod_service ul li p {
    font-size: 12px;
}
.mod_help {
    height: 188px;
    /* background-color: skyblue; */
    border-bottom: 1px solid #ededed;
}
.mod_help dl {
    float: left;
    padding-top: 21px;
    padding-left: 52px;
    width: 200px;    
}
.mod_help dl dt {
    margin-bottom: 5px;
    font-size: 16px;
}
.mod_help dl dd {
    margin-bottom: 5px;
    font-size: 12px;
}
.mod_help dl:last-child {
    text-align: center;
}
.mod_copyright {
    text-align: center;
}
.mod_copyright .links {
    padding: 20px 0 15px 0;
}
.mod_copyright .links a {
    padding: 0 14px;
}
.mod_copyright .address {
    margin-bottom: 10px;
}